<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
</head>
<body>
<div id="nav" th:fragment="menu">
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">PinoLabs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav centro">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" th:href="@{/home}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/estudiante}">Estudiantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/profesor}">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/curso/all}">Cursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/matricula}">Matriculas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>