<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="web pinolabs">
  <meta name="author" content="PinoLabs">
  <title>AlumnControl</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link th:href="@{/css/estilo.css}" rel="stylesheet">
  <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
  <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://kit.fontawesome.com/b6cd2b590e.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<header>
<div th:replace="nav :: menu"></div>
</header>
<main>
  <section class="container centro "><!-- Home -->
    <div class="px-4 py-5 my-5 text-center">
      <div class="col-lg-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <br>
            <h3 class="span loader centro typingEfect">
              <span class="m">C</span>
              <span class="m">R</span>
              <span class="m">E</span>
              <span class="m">A</span>
              <span class="m">R</span>
              <span class="m">&nbsp;</span>
              <span class="m">C</span>
              <span class="m">U</span>
              <span class="m">R</span>
              <span class="m">S</span>
              <span class="m">O</span>
            </h3>
            <br>
            <form th:action="@{/curso/save}" method="post" th:object="${curso}">
              <div class="mb-3">
                <input type="hidden" class="form-control" id="idCurso" name="idCurso">
              </div>
              <div class="mb-3">
                <label for="codigoCurso" class="form-label">Codigo Curso</label>
                <input type="text" class="form-control" id="codigoCurso" name="codigoCurso" placeholder="1090785A">
              </div>
              <div class="mb-3">
                <label for="nombreCurso" class="form-label">Nombre Curso</label>
                <input type="text" class="form-control" id="nombreCurso" name="nombreCurso" placeholder="Curso Full Stack">
              </div>
              <div class="mb-3">
                <label for="idProfesor" class="form-label">Nombre Profesor</label>
                <input type="text" class="form-control" id="idProfesor" name="idProfesor" placeholder="Curso Full Stack">
              </div>
              <div class="row top1">
                <div class="col-md centro">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                  <button type="reset" class="btn btn-secondary">Limpiar</button>
                  <a th:href="@{/curso}" class="btn btn-primary">volver</a>
                </div>
              </div>
            </form>
          </div><!-- card body -->
        </div>
      </div>
    </div>
  </section>
</main>
</body>
</html>